/* Some resets */
html, body {
    margin: 0;
    padding: 0;
}

/* Biar sizingnya lebih enak */
html { box-sizing: border-box; }
* { box-sizing: inherit; }

/* Dijadiin background image untuk acuan */
body {
    min-height: 100vh;
    position: relative;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.gambar-acuan-sementara {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0.25;
    z-index: -1;
}

/* Wireframes */
* {
    outline: 1px solid rgb(255 0 0 / 0.25);
}

/* 1rem == 16px (default) */

.nuc-element, .nuc-floating-element {
    position: absolute;
}

#judul {
    width: 50rem;
    max-width: calc(100vw - 5rem);
    max-height: calc(100vh - 5rem);
    object-fit: contain;
}

#main-logo {
    width: 10rem;
    top: 1.2rem;
    left: 3rem;
}

#socials {
    width: 16rem;
    bottom: 1rem;
    right: 3rem;
}

#hexagon-bottom-left-thin {
    bottom: 0;
    left: 0;
    width: 10rem;
}

#hexagon-bottom-left-small {
    bottom: 9rem;
    left: 6rem;
    width: 6rem;
}

#hexagon-top-right {
    top: 0;
    right: 0;
    width: 6rem;
}